* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*amarillo*/
#ffb200
*{margin: 0}
/*header {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #000;
}*/

a{
	text-decoration: none;
	color: black;
	font-size: 1.4em;
}
.menu{
	padding: 40px;
	background-color: white;
}
#inicioSesion{
	padding-top: 50px;
}
img.fondo{
	width: 100%;
	height: 800px;
}
.cuadroForm{
	padding-bottom: 50px;
	padding-top: 0;
	padding-left: 20px;
	
}
.totalForm{
	position: absolute;
	top: 250px;
	color: white;
	background-color: #ffb200;
	width: 550px;
	right: 0;
}
.btn-default{
	font-size: 1.3em;
}
.telefono{
	background-color: #ffb200;
	width: 100%;
	height: 550px;
}
.parrafoDescripcion{
	font-size: 1.5em;
	padding: 40px;
	text-align: justify;
}
h2{
	padding-top: 50px;
	padding-left: 40px;
	padding-bottom: 0;
}
#telefono{
  right: 30px;
  width: 380px;
  float: left;
  margin-top: 60px;
}
#conduce{
	background-image: url(../img/conduce.jpg);
	width: 100%;
	height: 450px;
	background-repeat: no-repeat;
	background-size: 100%;
	color: black;
}
#conductor{
	background-color: #ffb200;
	font-size: 1.3em;
	color: white;
	margin-left: 50px;
	padding-right: 20px;
	padding-left: 20px;
}
#convertir{
	margin-top: 50px;
}
.ubicacion{
	width: 60%;
	background-color: transparent;
	border-color: white;
	margin-left: 20px;
}
#ubicacion{
	height: 450px;
	background-color: #ffb200;
	width: 100%;
	color: white;
	font-size: 1.3em;
}
span{
	margin-left: 50px;
}
footer.container{
	background-color: #2a2a2a;
	width: 100%;
}
ul{
	list-style: none;
	color: white;
}
li{
	padding-top: 20px;
}
li:hover{
	color: pink;
}
#footerLogo{
	margin-top: 50px;
}
#logoApp{
	width: 60%;
}
#fin{
	color: white;
}

@media (min-width: 0px) and (min-width: 321px){
	body{
		font-size: .76em;
	}
	.show{
		display: none;
	}
	.hidden{
		display: block;
	}
	#descarga{
		display: none;
	}
	#nuevaApp{
		display: block;
	}
	#telefono{
		width: 80%;
	}
	h2{
		font-size: 2em;
	}
	h1{
		display: none;
	}
	.totalForm{
		width: 250px;
	}
}

@media (min-width: 1024px) and (min-width: 1200px) {
	body{
		font-size: 16px;
	}
	.escondido{
		display: none;
	}
	#descarga{
		display: block;
	}
	#nuevaApp{
		display: none;
	}
	#telefono{
		width: 100%;
	}
	.totalForm{
		width: 550px;
	}
}