* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*amarillo*/
#ffb200
*{margin: 0}
/*header {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #000;
}*/

a{
	text-decoration: none;
	color: black;
	font-size: 1.4em;
}
.menu{
	padding: 10px;
	background-color: white;
}
#inicioSesion{
	padding-top: 50px;
}
.btn-lg{
	background-color: transparent;
	color: black;
}
img.fondo{
	width: 100%;
	height: 950px;
}
.cuadroForm{
	padding-bottom: 50px;
	padding-top: 0;
	padding-left: 20px;
	
}
.totalForm{
	position: absolute;
	top: 250px;
	color: white;
	background-color: #ffb200;
	width: 550px;
	right: 0;
}
.btn-default{
	font-size: 1.3em;
}
.telefono{
	background-color: #ffb200;
	width: 100%;
	height: 550px;
}
.parrafoDescripcion{
	font-size: 1.5em;
	padding: 40px;
	text-align: justify;
}
h2{
	padding-top: 50px;
	padding-left: 40px;
	padding-bottom: 0;
}
#telefono{
  right: 30px;
  width: 380px;
  float: left;
  margin-top: 60px;
}
#conduce{
	background-image: url(../img/conduce.jpg);
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 450px;
	background-repeat: no-repeat;
	background-size: 100%;
	color: black;
}
#conductor{
	background-color: #ffb200;
	font-size: 1.3em;
	color: white;
	margin-left: 50px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
}
#convertir{
	margin-top: 0px;
}
p.parrafoDescripcion{
	color: white;
}
h2>strong{
	color: white;
}
.ubicacion{
	width: 60%;
	background-color: transparent;
	border-color: white;
	margin-left: 20px;
}
#ubicacion{
	height: 500px;
	background-color: #ffb200;
	width: 100%;
	color: white;
	font-size: 1.3em;
}
span{
	margin-left: 50px;
}
footer.container{
	background-color: #2a2a2a;
	width: 100%;
}
ul{
	list-style: none;
	color: white;
}
li{
	padding-top: 20px;
}
li:hover{
	color: pink;
}
#footerLogo{
	margin-top: 50px;
}

#fin{
	color: white;
}
#mapa{
	/*width: 70%;
	height: 450px;*/
	padding: 20px;
	margin-bottom: 0;
	margin-top: 35px;
}
#myModal{
	background-color: #2fb489;
}
.modal-title{
	text-align: center;
}
.modal{
	text-align: center;
}

.sesion{
	background-color: #ffb200;
	text-align: center;
	width: 100%;
}
.registro{
	width: 100%;
}
.inputMod{
	width: 60%;
}
#siCuenta{
	width: 100%;
	background-color: black;
	color: white;
}
#nuevaCuenta{
	color: grey;
	text-align: center;
}
p>a{
	font-size: 1em;
}
label{
	color: black;
}
option{
	color: grey;
}
select{
	width: 60%;
}
@media (min-width: 0px) and (min-width: 321px){
	body{
		font-size: .76em;
	}
	.show{
		display: none;
	}
	.hidden{
		display: block;
	}
	#descarga{
		display: none;
	}
	#nuevaApp{
		display: block;
	}
	#telefono{
		width: 80%;
		height: 300px;
	}
	h2{
		font-size: 2em;
	}
	h1{
		display: none;
	}
	.totalForm{
		width: 250px;
	}
	h2#nuevaApp{
		font-size: 3.5em;
		text-align: center;
		color: white;
	}
	#mapa{
		height: 320px;
	}
	#convertir{
		color: white;
	}
	#conduce{
		height: 100%;
	}
	#ubicacion{
		height: 650px;
	}
	li{
		font-size: 2em;
	}
	.parrafoDescripcion{
		font-size: 2em;
	}
	#logoApp{
		width: 20%;
	}
}

@media (min-width: 1024px) and (min-width: 1200px) {
	body{
		font-size: 16px;
	}
	.escondido{
		display: none;
	}
	#descarga{
		display: block;
	}
	#nuevaApp{
		display: none;
	}
	#telefono{
		width: 100%;
	}
	.totalForm{
		width: 550px;
	}
	h1{
		display: block;
	}
	#convertir{
		color: black;
	}
	#conduce{
		height: 100%;
	}
	li{
		font-size: 16px;
	}
	.parrafoDescripcion{
	font-size: 1.5em;
}
#logoApp{
	width: 60%;
}
#mapa{
	width: 100%;
	height: 500px;
}
}